<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showRestaurants')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Restaurants
		</a>
	</div>
	<div class="col-md-6 text-right">
    {% if 'username' not in session %} <!-- Note this is "session" rather than "login_session" that's because with Flask, templates have visibility to the session object, but not to the fact that we renamed it to "login_session" when we imported it -->
      <a href="{{url_for('showLogin')}}">Click Here to Log In</a>
    {% else %}
      <a href="{{url_for('disconnect')}}">Log Out</a>
    {% endif %}
	</div>
</div>